@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  font-size: 4vmin;
}

body {
  background-color: #e9e9e9;
  margin: 0;
}

.page {
  font-size: 2.5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.container {
  width: 80%;
  border-radius: 25px;
  background-color: white;
  padding: 40px;
}

.heading {
  font-size: 4vmin;
  font-weight: bold;
  color: #4ac2f8;
}

.accent-color {
  color: #4ac2f8;
}

.secondary-accent-color {
  background-color: #a2b9ff;
}